<%= link_to "â† Back to Events", events_path, class: "back-button" %>

<h1><%= @event.name %></h1>
<p><%= @event.date %></p>
<p><%= @event.location %></p>

<%= button_to "Join Event", event_attendances_path(@event), method: :post %>
<%= button_to "Leave Event", event_attendance_path(@event), method: :delete %>
